<div class="pandify container">

  <div id="credit">
    created by
    <a href="http://ustasb.com">ustasb</a>
  </div>

  <header class="row">
    <div class="col-xs-2">
      <%= image_tag 'pandify_logo.png', alt: 'Pandify Logo' %>
    </div>
  </header>

  <main class="row">

    <nav class="col-xs-2">
      <ul class="list-unstyled">
        <li><a href="#/">configure</a></li>
        <li><a href="#/customize">customize</a></li>
        <li><a href="#/create">create</a></li>
      </ul>
    </nav>

    <section class="col-xs-10">
      <div ng-view></div>
    </section>

  </main>

</div>
