<div class="pandify container">

  <header class="row">
    <div class="col-xs-2">
      <%= image_tag 'logo.png', alt: 'Pandify Logo', size: '294x69' %>
    </div>
  </header>

  <main class="row">
    <nav class="col-xs-2">
      <ul>
        <li><a>configure</a></li>
        <li><a>customize</a></li>
        <li><a>create</a></li>
      </ul>
    </nav>

    <section class="col-xs-10">
      <div>Test</div>
    </section>
  </main>

  <footer class="row"></footer>

</div>
