<div id="master-container" class="container" data-spotify-access-token="<%= @spotify_access_token %>">
  <div id="credit">
    <span>created by</span>
    <a class="underline" href="https://brianustas.com">Brian Ustas</a>
  </div>

  <div id="social-media-buttons">
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpandify.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>

    <br>

    <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://pandify.com/" data-text="A website for creating a Spotify playlist from your liked Pandora.com tracks!">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
  </div>

  <header id="logo-header" class="row">
    <div class="col-xs-2">
      <a href="#/configure">
        <%= image_tag 'pandify_logo.png', class: 'logo', alt: 'Pandify Logo', width: 313, height: 70 %>
      </a>
    </div>
  </header>

  <main class="row">
    <nav nav-menu class="col-xs-2"></nav>

    <section id="main-content" class="col-xs-10">
      <div class="vertical-divider">
        <div class="top-gradient"></div>
        <div class="bottom-gradient"></div>
      </div>
      <div ng-view></div>
    </section>
  </main>
</div>
