<div class="pandify container">

  <div id="credit">
    created by
    <a href="http://ustasb.com">ustasb</a>
  </div>

  <header class="row">
    <div class="col-xs-2">
      <a href="#/configure">
        <%= image_tag 'pandify_logo.png', alt: 'Pandify Logo', width: 313, height: 70 %>
      </a>
    </div>
  </header>

  <main class="row">

    <nav nav-menu></nav>

    <section class="col-xs-10">
      <div class="vertical-divider">
        <div class="top"></div>
        <div class="bottom"></div>
      </div>
      <div class="angular-view" ng-view></div>
    </section>

  </main>

</div>
