<div class="pandify container">

  <header class="row">
    <div class="col-xs-2">
      <%= image_tag 'pandify_logo.png', alt: 'Pandify Logo' %>
    </div>
  </header>

  <main class="row">
    <nav class="col-xs-2">
      <ul>
        <li><a>configure</a></li>
        <li><a>customize</a></li>
        <li><a>create</a></li>
      </ul>
    </nav>

    <section class="col-xs-10">

      <!--
      <div id="configure-menu">
        <p>
          Pandify can create a
          <span class="spotify">Spotify</span>
          playlist from your favorite
          <span class="pandora">Pandora.com</span>
          tracks.
        </p>

        <p>
          First, it'll need to retreive your Pandora data.
          Ensure that your Pandora profile is public.
        </p>

        <form role="form">
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Your Pandora.com email">
          </div>
          <p>What data would you like to retrieve?</p>
          <div class="form-group checkbox">
            <label>
              <input type="checkbox"> Liked Tracks
            </label>
          </div>
          <div class="form-group checkbox">
            <label>
              <input type="checkbox"> Bookmarked Tracks
            </label>
          </div>
          <p>What region should the tracks be playable in?</p>
          <select class="form-group form-control">
            <option>US</option>
            <option>UK</option>
            <option>NG</option>
            <option>FO</option>
            <option>FK</option>
          </select>
          <button type="submit" class="btn btn-default">Retrieve Data</button>
        </form>
      </div>
      -->

      <div id="customize-menu">
        <p>
          Next, filter your Pandora data by genre.
        </p>

        <input id="select-genre" class="form-control" type="text" placeholder="e.g. Classic Rock" value="awesome,neat">

        <table class="table table-condensed">
          <tr>
            <th></th>
            <th>Track</th>
            <th>Artist</th>
            <th>Length</th>
            <th>Album</th>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-play"></span></td>
            <td>La Mer</td>
            <td>Nine Inch Nails</td>
            <td>4:38</td>
            <td>The Fragile</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-play"></span></td>
            <td>Concrete</td>
            <td>Distance</td>
            <td>5:40</td>
            <td>Repercussions / Chestplate</td>
          </tr>
          <tr>
            <td><span class="glyphicon glyphicon-play"></span></td>
            <td>Know Your Enemy</td>
            <td>Hybrid</td>
            <td>5:58</td>
            <td>Morning Sci-Fi</td>
          </tr>
        </table>
      </div>

    </section>
  </main>

  <footer class="row"></footer>

</div>
