<div id="master-container" class="container">
  <div id="credit">
    <span>created by</span>
    <a href="http://ustasb.com">ustasb</a>
  </div>

  <header id="logo-header" class="row">
    <div class="col-xs-2">
      <a href="#/configure">
        <%= image_tag 'pandify_logo.png', class: 'logo', alt: 'Pandify Logo', width: 313, height: 70 %>
      </a>
    </div>
  </header>

  <main class="row">
    <nav nav-menu class="col-xs-2"></nav>

    <section id="main-content" class="col-xs-10">
      <div class="vertical-divider">
        <div class="top-gradient"></div>
        <div class="bottom-gradient"></div>
      </div>
      <div ng-view></div>
    </section>
  </main>
</div>
