<div class="pandify container">

  <div id="credit">
    created by
    <a href="http://ustasb.com">ustasb</a>
  </div>

  <header class="row">
    <div class="col-xs-2">
      <%= image_tag 'pandify_logo.png', alt: 'Pandify Logo' %>
    </div>
  </header>

  <main class="row">

    <nav class="col-xs-2" ng-controller="navMenuCtrl">
      <ul class="list-unstyled">
        <li><a href="#/configure" ng-class="{active: activeMenu==='configure'}">configure</a></li>
        <li>
          <a href="#/customize" ng-class="{active: activeMenu==='customize'}" ng-show="hasTracks">customize</a>
          <span ng-hide="hasTracks">customize</span>
        </li>
        <li>
          <a href="#/create" ng-class="{active: activeMenu==='create'}" ng-show="hasTracks">create</a>
          <span ng-hide="hasTracks">create</span>
        </li>
      </ul>
    </nav>

    <section class="col-xs-10">
      <div class="vertical-divider">
        <div class="top"></div>
        <div class="bottom"></div>
      </div>
      <div class="angular-view" ng-view></div>
    </section>

  </main>

</div>
