<div id="master-container" class="container">
  <div id="credit">
    <span>created by</span>
    <a class="underline" href="http://ustasb.com">ustasb</a>
  </div>

  <div id="facebook-like-button">
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpandify.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
  </div>

  <header id="logo-header" class="row">
    <div class="col-xs-2">
      <a href="#/configure">
        <%= image_tag 'pandify_logo.png', class: 'logo', alt: 'Pandify Logo', width: 313, height: 70 %>
      </a>
    </div>
  </header>

  <main class="row">
    <nav nav-menu class="col-xs-2"></nav>

    <section id="main-content" class="col-xs-10">
      <div class="vertical-divider">
        <div class="top-gradient"></div>
        <div class="bottom-gradient"></div>
      </div>
      <div ng-view></div>
    </section>
  </main>
</div>
