<div id="configure-menu">
  <p>
    Pandify can create a
    <span class="spotify">Spotify</span>
    playlist from your favorite
    <span class="pandora">Pandora.com</span>
    tracks.
  </p>

  <p>
    First, it'll need to retreive your Pandora data.
    Ensure that your Pandora profile is
    <a class="underline" href="<%= asset_path 'pandora_account_public.png' %>">public!</a>
  </p>

  <form role="form" name="vm.configForm" novalidate ng-submit="vm.isFormValid() && vm.onSubmit()">
    <div class="form-group">
      <input type="email" name="pandoraID" class="form-control" placeholder="Your Pandora.com email" ng-model="vm.user.pandoraID" required>
    </div>
    <div class="form-group error" ng-show="submitted && vm.configForm.pandoraID.$error.required">Required</div>
    <div class="form-group error" ng-show="submitted && vm.configForm.pandoraID.$error.email">Invalid email</div>

    <p>What data would you like to retrieve?</p>

    <div class="form-group checkbox">
      <label>
        <input type="checkbox" ng-model="vm.user.getLikedTracks"> Liked Tracks
      </label>
    </div>
    <div class="form-group checkbox">
      <label>
        <input type="checkbox" ng-model="vm.user.getBookmarkedTracks"> Bookmarked Tracks
      </label>
    </div>
    <div class="form-group error" ng-show="!vm.user.getLikedTracks && !vm.user.getBookmarkedTracks">Select at least one</div>

    <p>What market should the tracks be playable in?</p>

    <div class="form-group">
      <div country-select market="vm.user.market"></div>
    </div>

    <button type="submit" class="btn btn-primary" ng-click="submitted = true" ng-disabled="vm.retrievingPandoraTracks">
      Retrieve Data
      <div class="preloader" ng-show="vm.retrievingPandoraTracks"></div>
    </button>
  </form>
</div>
