<div id="configure-menu">
  <p>
    Pandify can create a
    <span class="spotify">Spotify</span>
    playlist from your favorite
    <span class="pandora">Pandora.com</span>
    tracks.
  </p>

  <p>
    First, it'll need to retrieve your liked Pandora tracks.
    Ensure that your Pandora profile is
    <a class="underline" target="_blank" href="<%= asset_path 'pandora_account_public.png' %>">public!</a>
  </p>

  <form role="form" name="vm.configForm" novalidate ng-submit="vm.isFormValid() && vm.onSubmit()">
    <fieldset ng-disabled="vm.isRetrievingPandoraTracks">
      <div class="form-group row" ng-switch="vm.user.randomID">
        <input ng-switch-when="true" type="text" name="pandoraID" class="form-control short-width" disabled>
        <input ng-switch-when="false" type="email" name="pandoraID" class="form-control short-width" placeholder="Your Pandora.com email" auto-focus ng-model="vm.user.pandoraID" required>

        <label id="random-email" class="btn btn-default" ng-class="{active: vm.user.randomID}" ng-click="vm.toggleRandomID()">
          Random
        </label>
      </div>
      <div class="form-group error" ng-show="submitted && vm.configForm.pandoraID.$error.required">Required</div>
      <div class="form-group error" ng-show="submitted && vm.configForm.pandoraID.$error.email">Invalid email</div>

      <p>What market should the tracks be playable in?</p>

      <div class="form-group">
        <div country-select class="short-width" market="vm.user.market" disable="vm.isRetrievingPandoraTracks"></div>
      </div>
    </fieldset>

    <button type="submit" class="btn btn-primary btn-preloader" ng-click="submitted = true" ng-disabled="vm.isRetrievingPandoraTracks">
      Retrieve Data
      <div class="preloader" ng-show="vm.isRetrievingPandoraTracks"></div>
      <div class="preloader-status error" ng-show="!!vm.submitStatus">{{vm.submitStatus}}</div>
      <div class="preloader-status unemphasized" ng-hide="vm.isRetrievingPandoraTracks || !!vm.submitStatus">Might take some time...</div>
    </button>
  </form>
</div>
