<div id="create-menu">
  <p>Finally, export your playlist into Spotify. You have two options:</p>

  <div class="divider"></div>

  <p>Let Pandify export the playlist for you.</p>

  <form role="form" id="spotify-login" novalidate ng-hide="loggedIn" ng-submit="logIn()">
    <button type="submit" class="btn btn-primary">Log in with Spotify</button>
  </form>

  <form role="form" name="createPlaylistForm" novalidate ng-show="loggedIn" ng-submit="createPlaylistForm.$valid && createPlaylist()">
    <p>Name for your new private playlist:</p>

    <div class="form-group">
      <input type="text" class="form-control" name="playlistName" placeholder="e.g. Pandora Likes - Rock" ng-model="playlistName" required>
    </div>
    <div class="form-group error" ng-show="submitted && createPlaylistForm.playlistName.$error.required">Required</div>

    <button type="submit" class="btn btn-primary" ng-click="submitted=true">Create Playlist</button>
  </form>

  <div class="divider"><span>OR</span></div>

  <p>Copy and paste the playlist into Spotify yourself.</p>

  <ol>
    <li>Create a new playlist in Spotify.</li>
    <li>Paste the below contents into the new playlist window.</li>
  </ol>

  <div class="well well-sm">
    <button id="copy" class="btn btn-primary" zero-clipboard data-clipboard-target="spotify-tracks">Copy to clipboard</button>
    <ul id="spotify-tracks" class="list-unstyled">
      <li ng-repeat="track in tracks | genre:genreFilters">{{track.uri}} </li>
    </ul>
  </div>
</div>
