<div id="create-menu">
  <p class="error" ng-hide="vm.hasFilteredTracks">
    You don't have any filtered tracks to export. Select some in the
    <a href="#/customize" class="error underline">customize</a>
    menu.
  </p>

  <div class="export-options">
    <div class="disabled-cover" ng-hide="vm.hasFilteredTracks"></div>

    <p>Finally, export your playlist into Spotify. You have two options:</p>

    <div class="divider"></div>

    <p>Let Pandify export the playlist for you.</p>

    <div spotify-auth-login filtered-tracks="vm.filteredTracks"></div>

    <div class="divider"><span>OR</span></div>

    <p>Copy and paste the playlist into Spotify yourself.</p>

    <ol>
      <li>Create a new playlist in Spotify.</li>
      <li>Paste the content below into the new playlist window.</li>
    </ol>

    <div class="well well-sm">
      <button class="btn btn-primary copy" zero-clipboard data-clipboard-target="spotify-tracks">Copy to clipboard</button>
      <ul id="spotify-tracks" class="list-unstyled">
        <li ng-repeat="track in vm.filteredTracks">{{track.uri}} </li>
      </ul>
    </div>
  </div>
</div>
