<div id="customize-menu">
  <p>Next, filter your Pandora data by genre. Select a filter method:</p>

  <form role="form" name="vm.filterForm" novalidate ng-submit="vm.exportPlaylist()">
    <div class="form-group radio">
      <label>
        <input type="radio" name="filterMethod" ng-checked="true">
        Lazy – track must contain at least 1 genre filter
      </label>
    </div>
    <div class="form-group radio">
      <label>
        <input type="radio" name="filterMethod">
        Strict – track must contain all genre filters
      </label>
    </div>

    <p>Add genre filters:</p>

    <div class="form-group">
      <div id="genre-filter" placeholder="e.g. Classic Rock" genre-select genres="vm.trackMatchesGenres" selected-genres="vm.selectedGenres"></div>
    </div>

    <button type="submit" class="btn btn-primary">Export Playlist</button>
  </form>

  <div id="tracks-data">
    <p>
      <span class="spotify">{{ vm.spotifyTrackMatches.length }}</span>
      Spotify matches made out of
      <span class="pandora">{{ vm.pandoraTracksCount }}</span>
      Pandora tracks
      –
      <span ng-show="vm.doneMatching">done</span>
      <span ng-hide="vm.doneMatching">
        <a class="underline" ng-show="vm.matchingPaused" ng-click="vm.resumeMatching()">resume</a>
        <a class="underline" ng-hide="vm.matchingPaused" ng-click="vm.pauseMatching()">pause</a>
      </span>
    </p>
    <p>
      {{ filteredTracks.length }} tracks displayed, {{ sumTime(filteredTracks) | humanTime }}
    </p>
  </div>

  <div track-table tracks="vm.spotifyTrackMatches"></div>
</div>
