<form role="form" name="spotifyLoginForm" novalidate ng-hide="isLoggedIn" ng-submit="openLoginWindow()">
  <button type="submit" class="btn btn-primary">Log in with Spotify</button>
</form>

<form role="form" name="createPlaylistForm" novalidate ng-show="isLoggedIn" ng-submit="createPlaylistForm.$valid && exportPlaylist()">
  <p>Name for your new private playlist:</p>

  <fieldset ng-disabled="isExportingPlaylist">
    <div class="form-group">
      <input type="text" class="form-control short-width" name="playlistName" placeholder="e.g. Pandora Likes - Rock" required ng-model="playlistName">
    </div>
    <div class="form-group error" ng-show="submitted && createPlaylistForm.playlistName.$error.required">Required</div>
  </fieldset>

  <button type="submit" class="btn btn-primary btn-preloader" ng-click="submitted = true" ng-disabled="isExportingPlaylist">
    Create Playlist
    <div class="preloader" ng-show="isExportingPlaylist"></div>
    <div class="preloader-status success" ng-show="isExportingFinished">Playlist Created!</div>
  </button>
</form>
