@import "bootstrap-sprockets";
@import "bootstrap";

// Colors
$background-color: #ECEDEA;
$text-color: #333333;
$spotify-green: #85C318;
$pandora-blue: #33659D;
$divider-color: #B8BAB6;

// Sizes
$min-container-width: 690px;
$side-padding: 15px;

.spotify {
  color: $spotify-green;
}

.pandora {
  color: $pandora-blue;
}

body {
  background-color: $background-color;
}

a {
  cursor: pointer;
}

a:hover {
  color: $pandora-blue;
  text-decoration: none;
}

body, a, input {
  font-family: 'Noto Sans', sans-serif !important;
  color: $text-color;
}

header {
  padding: 20px 0;

  img {
    display: block;
    float: right;
    margin-right: -230px;
  }
}

nav, section {
  padding: 10px 0px;
}

nav {
  ul {
    float: right;
    margin: 0 $side-padding 0 0;
  }

  li {
    padding-bottom: 15px;
  }
}

.container {
  min-width: $min-container-width;
}

.pandify section {
  border-left: 1px solid transparent; // So that the section:before gradient sits where the border-left would be.
  min-height: 120px
}

.pandify section:before {
  content: "";
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: -1px;
  width: 1px;
  background-image: -webkit-linear-gradient(top, rgba(227,224,216,0) 0, $divider-color 20%, $divider-color 80%, rgba(227,224,216,0) 100%);
  background-image: -moz-linear-gradient(top, rgba(227,224,216,0) 0, $divider-color 20%, $divider-color 80%, rgba(227,224,216,0) 100%);
  background-image: -ms-linear-gradient(top, rgba(227,224,216,0) 0, $divider-color 20%, $divider-color 80%, rgba(227,224,216,0) 100%);
  background-image: -o-linear-gradient(top, rgba(227,224,216,0) 0, $divider-color 20%, $divider-color 80%, rgba(227,224,216,0) 100%);
  background-image: linear-gradient(top, rgba(227,224,216,0) 0, $divider-color 20%, $divider-color 80%, rgba(227,224,216,0) 100%);
}

.pandify section > div {
  margin-left: $side-padding;
}

.pandify button {
  background-color: $pandora-blue;
  color: $background-color;
  border: none;
}

.pandify button:hover {
  background-color: $spotify-green;
}

.pandify {
  input, select {
    width: 350px;
  }

  form {
    margin-top: 15px;
  }

  .form-group, button {
    margin-left: 20px;
  }
}

#customize-menu {
  .glyphicon {
    cursor: pointer;
  }

  .selectize-input {
    line-height: 30px;
    padding-right: 5px !important;
    margin: 0;
  }

  .selectize-input > div {
    background-color: $spotify-green;
    padding-right: 20px !important;
    padding-left: 7px !important;
    margin-right: 5px;

    // Close button
    a {
      font-size: 1.1em;
    }
  }

  table {
    margin-top: 10px;

    th {
      color: $pandora-blue;
    }

    tr > .glyphicon {
      margin-left: 10px;
    }
  }
}

#create-menu {
  form {
    margin-bottom: 25px;
  }

  hr {
    border-color: $divider-color;
  }

  #copy {
    float: right;
  }

  .zeroclipboard-is-hover {
    background-color: $spotify-green;
  }

  .list-unstyled {
    margin: 0;
  }
}
