#configure-menu {
  input[name="pandoraID"] {
    float: left;
  }

  #random-email {
    margin-left: 20px;
  }

  .project-status {
    margin-top: 25px;
    padding: 20px;
    border-top: 1px solid $unemphasized-color;
  }

  .selectize-control {
    margin-top: 15px;
  }
}
