#create-menu {
  form {
    margin-bottom: 25px;
  }

  #copy {
    float: right;
  }

  .zeroclipboard-is-hover {
    background-color: $spotify-green;
    color: $background-color;
  }

  .list-unstyled {
    margin: 0;
  }

  .divider {
    margin: 20px 0;
    height: 1px;
    text-align: center;
    background-color: $divider-color;

    span {
      position: relative;
      top: -0.7em;
      padding: 0 10px;
      font-size: 1.8em;
      color: $pandora-blue;
      background-color: $background-color;
    }
  }
}
