#create-menu {
  .export-options {
    position: relative;

    .disabled-cover {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: $background-color;
      opacity: 0.6;
      z-index: 9999;
    }
  }

  .divider {
    margin: 20px 0;
    height: 1px;
    text-align: center;
    background-color: $unemphasized-color;

    span {
      position: relative;
      top: -0.7em;
      padding: 0 10px;
      font-size: 1.8em;
      color: $pandora-blue;
      background-color: $background-color;
    }
  }

  .well {
    min-height: 53px;
  }

  #spotify-tracks {
    margin: 0;
  }

  button.copy {
    float: right;
  }

  .zeroclipboard-is-hover {
    background-color: $spotify-green;
    color: $background-color;
  }
}
