#customize-menu {
  .selectize-input {
    line-height: 30px;
    margin: 0;
    padding-right: 5px;

    .item {
      background-color: $spotify-green;
      padding-left: 7px;
      padding-right: 20px !important;
      margin-right: 5px;

      .remove {
        font-size: 15px;
      }
    }
  }

  .genre-highlight, .selectize-input .genre-highlight {
    background-color: $pandora-blue;
    color: $background-color;
  }

  .selectize-dropdown .active {
    background-color: $spotify-green;
  }

  .spotify-match-stats {
    padding-top: 2px; // To line-up the Pause/Resume button with the Export button.

    .btn {
      margin-left: 5px;
    }
  }

  form button[type='submit'] {
    float: right;
  }

  #raw-pandora-data {
    position: relative;
    height: 0;

    a {
      position: absolute;
      right: 0;
      bottom: 10px;
    }
  }

  table {
    margin: 20px 0 0 0;

    th {
      color: $pandora-blue;
      cursor: pointer;
    }

    th:hover {
      color: $spotify-green;
    }

    td:first-child {
      position: relative;
      width: 40px;
    }

    .album-art {
      display: none;
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: 15px;
      -moz-box-shadow: 2px 2px 7px #707070;
      -webkit-box-shadow: 2px 2px 7px #707070;
      box-shadow: 2px 2px 7px #707070;
    }

    .track.hovered {
      background-color: $spotify-green;

      .album-art {
        display: block;
      }

      .glyphicon-play {
        display: inline-block;
      }
    }

    .glyphicon {
      cursor: pointer;
      margin-left: 10px;
    }

    .glyphicon-play {
      display: none;
    }
  }
}
