#customize-menu {
  form button.btn {
    float: right;
  }

  .glyphicon {
    cursor: pointer;
  }

  .selectize-input {
    line-height: 30px;
    padding-right: 5px !important;
    margin: 0;
  }

  .selectize-dropdown .option.active {
    background-color: $spotify-green;
  }

  .selectize-input > div {
    background-color: $spotify-green;
    padding-right: 20px !important;
    padding-left: 7px !important;
    margin-right: 5px;

    // Close button
    a {
      font-size: 1.1em;
    }
  }

  table {
    margin-top: 20px;

    th {
      color: $pandora-blue;
      cursor: pointer;
    }

    th:hover {
      color: $spotify-green;
    }

    td:first-child {
      position: relative;

      .album-art {
        display: none;
        position: absolute;
        top: 0;
        right: 100%;
        margin-right: $side-padding;
        -moz-box-shadow: 2px 2px 7px #707070;
        -webkit-box-shadow: 2px 2px 7px #707070;
        box-shadow: 2px 2px 7px #707070;
      }
    }

    tr.hovered {
      background-color: $spotify-green;

      .album-art {
        display: block;
      }
    }

    td > .glyphicon {
      margin-left: 10px;
    }
  }
}

