#customize-menu {
  form button[type="submit"] {
    float: right;
  }

  .selectize-input {
    line-height: 30px;
    margin: 0;
    padding-right: 5px;
  }

  .selectize-dropdown .active {
    background-color: $spotify-green;
  }

  .selectize-input .item {
    background-color: $spotify-green;
    padding-left: 7px;
    padding-right: 20px !important;
    margin-right: 5px;

    .remove {
      font-size: 15px;
    }
  }

  .spotify-match-stats .btn {
    margin-left: 5px;
  }

  table {
    margin-top: 20px;

    th {
      color: $pandora-blue;
      cursor: pointer;
    }

    th:hover {
      color: $spotify-green;
    }

    td:first-child {
      position: relative;
      width: 40px;
    }

    .album-art {
      display: none;
      position: absolute;
      top: 0;
      right: 100%;
      margin-right: 15px;
      -moz-box-shadow: 2px 2px 7px #707070;
      -webkit-box-shadow: 2px 2px 7px #707070;
      box-shadow: 2px 2px 7px #707070;
    }

    .track.hovered {
      background-color: $spotify-green;

      .album-art {
        display: block;
      }

      .glyphicon-play {
        display: inline-block;
      }
    }

    .glyphicon {
      cursor: pointer;
      margin-left: 10px;
    }

    .glyphicon-play {
      display: none;
    }
  }
}

