#customize-menu {
  form button.btn {
    float: right;
  }

  .glyphicon {
    cursor: pointer;
  }

  .selectize-input {
    line-height: 30px;
    padding-right: 5px !important;
    margin: 0;
  }

  .selectize-input > div {
    background-color: $spotify-green;
    padding-right: 20px !important;
    padding-left: 7px !important;
    margin-right: 5px;

    // Close button
    a {
      font-size: 1.1em;
    }
  }

  table {
    margin-top: 20px;

    th {
      color: $pandora-blue;
      cursor: pointer;
    }

    th:hover {
      color: $spotify-green;
    }

    td > .glyphicon {
      margin-left: 10px;
    }
  }
}

