// Colors
$background-color: #ecedea;
$spotify-green: #85c318;
$pandora-blue: #33659d;
$error: #b94a48;
$text-color: #333;
$placeholder-color: #999;
$unemphasized-color: #b8bab6;

// Sizes
$min-container-width: 760px;
