// Colors
$background-color: #FFF;
$text-color: #333333;
$placeholder-color: #999;
$spotify-green: #85C318;
$pandora-blue: #33659D;
$divider-color: #B8BAB6;
$error-red: #B94A48;

// Sizes
$min-container-width: 690px;
$side-padding: 15px;

